@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf') format('truetype'); 
}  

body{
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('./img/desert.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.content{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    position: relative;
}

canvas{
    background-color: black;
    display: block;
}

.startButton{
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 150px;
    height: 100px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 168, 0);
    margin-left: 100px;
}

.flex{
    display: flex;
    align-items: center;
}

.gap-16{
    gap: 16px;
}

.width-100{
    width: 100%;
}

.space-between{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex img{
    width: 48px;
    height: 48px;
}

.circle{
    border: 1px solid black;
    background-color: black;
    width: 39px;
    height: 39px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    position: absolute;
    width: 720px;
    height: 480px;
}

.screen-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 10px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 30;
}

.icon-audio{
    width: 48px;
    height: 48px;
    cursor: pointer !important;
}

.icons{
    position: absolute;
    width: 100%;
    top: 7px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.icons img{
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.column img {
    width: 48px;
    height: 48px;
}

.bgOrange{
    background-color: rgb(124, 81, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIcon{
    width: 48px;
    height: 48px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.impressum{
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

.impressum a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

h1{
    font-size: 56px;
}

h2{
    font-size: 48px;
}

p{
    font-size: 32px;
}

.mobileButtons{
    position: absolute;
    bottom: 0px;
}

#btnLeft{
    margin-right: 24px;
}

#btnJump{
    margin-right: 24px;
}

@media only screen and (max-width: 720px){
    #body{
        width: 100vw;
        overflow-x: hidden !important;
        margin: 0;
    }
   
    #title{
        display: none !important;
    }

    .impressum{
        position: absolute;
        bottom: 0;
        right: 10px;
    }
}

@media only screen and (max-height: 480px){
    #body{
        height: 100vh;
        overflow-y: hidden !important;
    }

    #title{
        display: none !important;
    }
}

@media only screen and (max-width: 480px) {
    .startButton {
        width: 80px;
        height: 60px;
        font-size: 16px;
    }
}

@media only screen and (max-height: 320px) {
    .startButton {
        width: 80px;
        height: 60px;
        font-size: 16px;
    }
}

@media(max-width: 715px){
    .icons{
        right: 45px;
    }

    .icons img{
        width: 24px;
        height: 24px;
    }
}